@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {



  --color-background: #fff;
  --color-primary: #000;
}

.dark {
  --color-background: #000;
  --color-primary: #fff;
}

body {
  transition: 
    background-color 0.4s cubic-bezier(0.3, 0, 0, 1),
    color 0.4s cubic-bezier(0.2, 0, 0.2, 1);
  background-color: var(--color-background);
  color: var(--color-primary);
}
